.card {
    border-radius: 1rem;
}

.form-label {
    font-weight: 600;
}

.btn ion-icon {
    vertical-align: middle;
    margin-right: 4px;
}

@media (max-width: 576px) {
    .card-body {
        padding: 1.25rem !important;
    }
}